@model IEnumerable<LiftAndShiftMVC.Models.Person>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <header>
        <h1>Lift-and-Shift Demo Application</h1>
    </header>

    <div class="form_container">
        <div class="text">
            Select Database
        </div>

        <form method="post">
            <label for="selectedDbContext"></label>
            <select name="selectedDbContext">
                <option value="Local">LocalDbContext</option>
                <option value="Azure">AzureDbContext</option>
            </select>
       
            <button class="btn" type="submit"><span class="btn-text">Submit</span></button>
      
        </form>

    </div>

    @if (Model != null)
    {
        <h2>Person List</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BusinessEntityID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MiddleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var person in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => person.BusinessEntityID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => person.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => person.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => person.MiddleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => person.LastName)
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

</div>
