@model LiftAndShiftMVC.ViewModel.PersonViewModel

@{
    ViewData["Title"] = "Index";
}

<!-- ======= Form Section Container ======= -->
<section id="form-section" class="form-section">

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Database Context</h2>
            <p>Form Request</p>
        </div>

        <form method="post" name="db-form" class="db-form" data-aos="fade-up" data-aos-delay="100">

            <div class="row">

                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <select class="form-control" name="selectedDbContext" id="dbContext-select" required>
                        <option value="">--Select Database Context--</option>
                        <option value="Local">LocalDbContext</option>
                        <option value="Azure">AzureDbContext</option>
                    </select>
                </div>

                <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
                    <select class="form-control" name="recordCount" id="record-count-select" required>
                        <option value="">--Select Number of Records--</option>
                        <option value="100">100 Records</option>
                        <option value="500">500 Records</option>
                        <option value="1000">1000 Records</option>
                        <option value="all">All Records</option>
                    </select>
                </div>
            </div>

            <br>
            <div class="text-center"><button type="submit">Submit</button></div>
        </form>

    </div>

</section>
<!-- End Form Section Container -->


@if (Model != null)
{
    <h2>Person List</h2>
    <div>
        <p>Records displayed: @Model.RecordCount</p>
    </div>

    <table class="styled-table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Title
                </th>
                <th>
                    First Name
                </th>
                <th>
                    Middle Name
                </th>
                <th>
                    Last Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model.Persons)
            {
                <tr>
                    <td>
                        @person.BusinessEntityID
                    </td>
                    <td>
                        @person.Title
                    </td>
                    <td>
                        @person.FirstName
                    </td>
                    <td>
                        @person.MiddleName
                    </td>
                    <td>
                        @person.LastName
                    </td>
                </tr>
            }
        </tbody>
    </table>

}